<%= simple_form_for(voter, class: "contents") do |form| %>
  <div class="form-group">
    <%= form.input :first_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.input :last_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.input :address_1, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.input :address_2, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.input :zip_code, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.input :phone_number, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.input :city, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.input :state, as: :select, collection: ApplicationHelper::US_STATES, input_html: {class: 'form-control'}, include_blank: "Select State", label: "State" %>
  </div>

  <div class="form-group">
    <%= form.input :party_affiliation, as: :select, collection: ApplicationHelper::PARTIES, input_html: {class: 'form-control'}, include_blank: "Select Party", label: "State" %>
  </div>

  <div class="form-group">
    <%= form.input :provisional, as: :radio_buttons, label: "Voter information requires more verification?" %>
  </div>
  <div class="form-group">
    <%= form.input :last_4_digits_ssn, as: :numeric %>
  </div>
  <div class="inline">
    <%= form.submit "Submit Voter Information", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium" %>
  </div>
<% end %>
