<tr id="<%= dom_id poll_worker %>">
  <td class="px-6 py-4 whitespace-nowrap">
    <div class="flex items-center">
      <div class="ml-4">
        <div class="text-sm font-medium text-gray-900">
          <%= poll_worker.first_name %> <%= poll_worker.last_name %>
        </div>
      </div>
    </div>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <div class="text-sm text-gray-500"><%= poll_worker.job_title %></div>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <div class="text-sm text-gray-500"><%= [poll_worker.address_1, poll_worker.address_2, poll_worker.zip_code].join(', ') %></div>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
    <%= poll_worker.phone_number %>
  </td>
  <td>
    <div class="text-sm text-gray-500"><%= [poll_worker.city, poll_worker.state].join(', ') %></div>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
    <ul class="list-unstyled" style="overflow-y: scroll; height: 30px;">
      <% poll_worker.precinct_pollsters.each do |p| %>
        <li><p><%= link_to p.precinct.name, precinct_path(p.precinct) %></p></li>
      <% end %>
    </ul>

  </td>
  <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
    <%= link_to 'Change', poll_worker_path(poll_worker) %>
  </td>
</tr>